.login{
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

header ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

header ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

header ul li a:hover {
    color: #f9004d;
    transition: .4s;
}
