.home{
    text-align: center;
    font-weight: bold;
}

.home h2{
    color: aqua;
    font-size: 8rem;
}

.home p{
    font-size: 2rem;
    font-weight: bolder;
}

.home span{
    color: rgb(3, 97, 53);
}
